@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap');
:root {
    --clr-dark-green: #013c28;
    --clr-white: #fffefe;
    --clr-dark-white:#f6f7f7;
    --clr-bright-green: #13a814;
    --clr-black: #343232;
}

body {
    color: var(--clr-black);
    font-family: 'Montserrat', sans-serif;
}